* {
  font-family: "Inconsolata", Arial, monospace;
}

body {
  margin-top: 310px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(#000, #fff);
}

.container {
  display: grid;
  gap: 20px;
  place-items: center;
}

#cpf {
  text-align: center;
  border-radius: 4px;
  padding: 4px 4px;
  text-transform: uppercase;
}

.btValidar {
  border-radius: 4px;
  padding: 3px 10px;
  text-transform: uppercase;
  transition: background-color 0.7s;
}

.btValidar:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #696969;
}

.footer {
  margin: 25px;
  text-align: center;
  text-transform: uppercase;
}


